* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background: rgb(56, 56, 56);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.card {
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0, 0.5) 5px 5px 5px 5px;
  height: 50vh;
  min-width: 50vw;
  background: rgb(70, 69, 69);
}

.card-header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header h2 {
  font-size: 2rem;
}

.card-body {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.passwordArea {
  background: white;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#password {
  color: black;
  opacity: 0.5;
}

.card-footer {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 50%;
  font-size: 1.8rem;
  color: white;
  background: rgb(56, 56, 56);
  border-radius: 5px;
  padding: 14px 34px;
  cursor: pointer;
  border: 1px solid white;
}

.btn:hover {
  box-shadow: 0 0 12px 5px rgba(255, 255, 255, 0.5);
  transition: box-shadow ease-out 200ms;
}
